server:
    port: 8081

spring:
    application:
        name: catalog-service
    datasource:
        url: jdbc:h2:mem:catalogdb
        driverClassName: org.h2.Driver
        username: sa
        password:
    h2:
        console:
            enabled: true
            path: /h2-console
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true

eureka:
    instance:
        prefer-ip-address: false
    client:
        serviceUrl:
            defaultZone: http://localhost:8761/eureka
