server:
    port: 8080spring.application.name=api-gateway

spring:
    application:
        name: api-gateway

    cloud:
        gateway:
            routes:
                - id: user-service
                  uri: http://localhost:8081
                  predicates:
                      - Path=/users/**
                  filters:
                      - StripPrefix=1
