server:
    port: 8080

spring:
    application:
        name: api-gateway

    cloud:
        gateway:
            server:
                webflux:
                    routes:
                        - id: catalog-service
                          uri: lb://catalog-service
                          predicates:
                              - Path=/catalog/**
                          filters:
                              - StripPrefix=1

                          # - id: inventory-service
                          #   uri: lb://inventory-service
                          #   predicates:
                          #       - Path=/inventory/**
                          #   filters:
                          #       - StripPrefix=1
                          #
eureka:
    client:
        serviceUrl:
            defaultZone: http://localhost:8761/eureka
