server:
    port: 8083

spring:
    application:
        name: order-service
    datasource:
        url: jdbc:h2:mem:db
        driverClassName: org.h2.Driver
        username: sa
        password:
    h2:
        console:
            enabled: true
            path: /h2-console
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true

eureka:
    instance:
        prefer-ip-address: true
        ip-address: 127.0.0.1
