server:
    port: 8082

spring:
    application:
        name: inventory-service
    datasource:
        url: jdbc:h2:mem:inventorydb
        driverClassName: org.h2.Driver
        username: sa
        password:
    h2:
        console:
            enabled: true
            path: /h2-console
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
