/* frontend2/src/pages/CategoryManagementPage.css */
.category-management-page {
    padding: 20px;
}

.action-buttons button {
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.action-buttons button:hover {
    background-color: #0056b3;
}