server:
    port: 8080

spring:
    application:
        name: api-gateway

    cloud:
        gateway:
            server:
                webflux:
                    routes:
                        - id: product-service
                          uri: lb://product-service
                          predicates:
                              - Path=/api/product/**,/api/category/**
                        - id: inventory-service
                          uri: lb://inventory-service
                          predicates:
                              - Path=/api/inventory/**
                        - id: pricing-service
                          uri: lb://pricing-service
                          predicates:
                              - Path=/api/pricing/**
                        - id: order-service
                          uri: lb://order-service
                          predicates:
                              - Path=/api/order/**
                        - id: customer-service
                          uri: lb://customer-service
                          predicates:
                              - Path=/api/customer/**
                        - id: payment-service
                          uri: lb://payment-service
                          predicates:
                              - Path=/api/payment/**

eureka:
    instance:
        prefer-ip-address: true
        ip-address: 127.0.0.1
