server:
    port: 8080

spring:
    application:
        name: api-gateway

    cloud:
        gateway:
            server:
                webflux:
                    default-filters:
                        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
                    globalcors:
                        cors-configurations:
                            "[/**]":
                                allowedOrigins: "http://localhost:5173"
                                allowedMethods: "*"
                                allowedHeaders: "*"
                                allowCredentials: true
                    routes:
                        - id: identity-service
                          uri: http://localhost:8087
                          predicates:
                              - Path=/api/auth/**
                        - id: product-service
                          uri: lb://product-service
                          predicates:
                              - Path=/api/product/**,/api/category/**
                          filters:
                              - AuthenticationFilter
                        - id: inventory-service
                          uri: lb://inventory-service
                          predicates:
                              - Path=/api/inventory/**
                          filters:
                              - AuthenticationFilter
                        - id: pricing-service
                          uri: lb://pricing-service
                          predicates:
                              - Path=/api/pricing/**
                          filters:
                              - AuthenticationFilter
                        - id: order-service
                          uri: lb://order-service
                          predicates:
                              - Path=/api/order/**
                          filters:
                              - AuthenticationFilter
                        - id: customer-service
                          uri: lb://customer-service
                          predicates:
                              - Path=/api/customer/**
                          filters:
                              - AuthenticationFilter
                        - id: payment-service
                          uri: lb://payment-service
                          predicates:
                              - Path=/api/payment/**
                          filters:
                              - AuthenticationFilter

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
        fetch-registry: true
        register-with-eureka: true
    instance:
        prefer-ip-address: true
        ip-address: 127.0.0.1

logging:
    level:
        org.springframework.cloud.gateway: TRACE
        org.springframework.http.server.reactive: DEBUG
        org.springframework.web.reactive: DEBUG
        reactor.netty: DEBUG
